<!DOCTYPE html>
<html>
  <head>
    <title>Dashboard</title>
    {% load static %}
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% load bootstrap_icons %}
    {% block script %}{% endblock %}
    <link rel="stylesheet" href="{% static '/css/global.css' %}" />

    <style>
      body {
        background-color: gray;
      }
    </style>
  </head>

<body>
  {% include "component/menu_base.html" %}
  <br />

  <div class="container bg-white shadow-md p-5 form-layout">
    <h4>Xin chào, {{user}}
    </h4>

    <hr />

    <p>This is your dashboard where you can perform any of the following:</p>

    <ul>
      <li>Tra cứu đơn hàng</li>
      <li>Quản lý tài khoản</li>
    </ul>
  </div>

  <br />

  <div class="container bg-white shadow-md p-5 form-layout">
    <h4>
      Track your orders
    </h4>

    <hr />

    <p>Track all of your orders here...</p>

    <a class="btn btn-primary navbar-btn text-white px-3" type="button" href="">
      My orders
    </a>
  </div>

  <br />

  <div class="container bg-white shadow-md p-5 form-layout">
    <h4>
      Quản lý tài khoản
    </h4>

    <hr />

    <p>Cập nhật hoặc xóa tài khoản</p>

    <a
      class="btn btn-primary navbar-btn text-white px-3"
      type="button"
      href="{% url 'profile' %}"
    >
    Cập nhật thông tin
    </a>

    <br />
    <br />
    <p>Thay đổi mật khẩu</p>

    <a
      class="btn btn-primary navbar-btn text-white px-3"
      type="button"
      href="{% url 'password-change-view-admin' %}"
    >
      Thay đổi mật khẩu
    </a>
  </div>

  <br />

  <div class="container bg-white shadow-md p-5 form-layout">
    <h4>
      Manage shipping
    </h4>

    <hr />

    <p>Enter in a shipping address</p>

    <a class="btn btn-primary navbar-btn text-white px-3" type="button" href="">
      Manage shipping
    </a>
  </div>

  <br />
</body>
