<!DOCTYPE html>
<html>
  <head>
    <title>Dashboard</title>
    {% load static %}
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% load bootstrap_icons %}
    {% block script %}{% endblock %}
    <link rel="stylesheet" href="{% static '/css/global.css' %}" />

    <style>
      body {
        background-color: gray;
      }
    </style>
  </head>

<body>
  {% include "component/menu_base.html" %}
  <br />

  <div class="container bg-white shadow-md p-5 form-layout">
    <h4>Xin chào, {{user}}
    </h4>

    <hr />

    <p>This is your dashboard where you can perform any of the following:</p>

    <ul>
      <li>
        <a href='/dashboard/user'>Quản lý người dùng</a>
      </li>
    </ul>
  </div>
</body>
