<!DOCTYPE html>
<html>
  <head>
    <title>Dashboard</title>
    {% load static %} {% load bootstrap5 %} 
    {% bootstrap_css %} 
    {% bootstrap_javascript %} 
    {% block script %}{% endblock %}
    <link rel="stylesheet" href="{% static '/css/global.css' %}" />

    <style>
      body {
        background-color: gray;
      }
    </style>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  </head>

  <body>
    {% include "component/menu_base.html" %}
    <br />

    <div class="container bg-white shadow-md p-5 form-layout">
      <h4>Xin chào, {{user}}</h4>

      <hr />

      <p>This is your dashboard where you can perform any of the following:</p>

      <ul class="list-inline">
        <li class="list-inline-item text-decoration-none">
            <a class="text-decoration-none" href="/dashboard/user"><i class="fa fa-address-book"></i> Quản lý người dùng</a>
           <li >
        <li class="list-inline-item text-decoration-none">

            <a class="text-decoration-none" href="/dashboard/product"><i class="fa fa-shopping-bag"></i> Quản lý sản phẩm</a>
        </li>
      </ul>
    </div>

    <br />

    <div class="container bg-white shadow-md p-5 form-layout">
      <h4>Thống kê người dùng</h4>

      <hr />

      <div style=" height: 500px; width: 100%; display: flex; justify-content: center; ">
        <canvas id="userChart1"></canvas>
        <script>
            const ctx = document.getElementById('userChart1').getContext('2d');
            new Chart(ctx, {
                type: 'doughnut',
                data: {{ chart_data|first|safe }},
                options: {
                    responsive: true,
                    plugins: {
                        legend: {
                            position: 'top',
                        },
                        title: {
                            display: true,
                            text: 'Thống kê trạng thái người dùng'
                        }
                    },
                }
            });
        </script>
    </div>

    <hr />

    <div style=" height: 500px; width: 100%; display: flex; justify-content: center; ">
        <canvas id="userChart2"></canvas>
        <script>
            const ctx2 = document.getElementById('userChart2').getContext('2d');
            new Chart(ctx2, {
                type: 'doughnut',
                data: {{ chart_data|last|safe }},
                options: {
                    responsive: true,
                    plugins: {
                        legend: {
                            position: 'top',
                        },
                        title: {
                            display: true,
                            text: 'Thống kê quyền người dùng'
                        }
                    },
                }
            });
        </script>
    </div>

  </body>
</html>
