{% extends "page.html" %} {% load static %} {% load crispy_forms_tags %} 
{% block content %}

<style>
  body {
    background-color: gray;
  }
</style>

<body>
  <br />

  <div class="container bg-white shadow-md p-5 form-layout">
    <h3>
      <i class="fa fa-address-book" aria-hidden="true"></i> &nbsp; Profile
      management
    </h3>

    <p>Manage your account effectively.</p>

    <hr />
  </div>

  <br />

  <div class="container bg-white shadow-md p-5 form-layout">
    <h4>CẬP NHẬT THÔNG TIN</h4>

    <p>Thay đổi thông tin tài khoản của bạn!</p>

    <hr />

    <br />
    <form method="POST" autocomplete="off">
      {% csrf_token %} {{user_form.username|as_crispy_field}}

      <br />
      <br />

      {{user_form.email|as_crispy_field}}

      <br />
      <br />

      {{user_form.firstName|as_crispy_field}}

      <br />
      <br />

      {{user_form.lastName|as_crispy_field}}

      <br />
      <br />

      {{user_form.phone|as_crispy_field}}

      <br />
      <br />

      {{user_form.address|as_crispy_field}}

      <br />
      <br />

      <button type="submit" class="btn btn-primary navbar-btn text-white">
        &nbsp; Cập nhật thông tin
      </button>
    </form>
  </div>

  <br />

  <div class="container bg-white shadow-md p-5 form-layout">
    <h4>Xóa tài khoản</h4>

    <p>Thực hiện nếu bạn muốn xóa tài khoản.</p>

    <hr />

    <a
      class="btn btn-primary navbar-btn text-white"
      type="button"
      href="{% url 'delete-account' %}"
    >
      Xóa tài khoản
    </a>
  </div>
</body>

<br />
<br />

{% endblock %}
