{% extends 'page.html' %} 
{% load crispy_forms_tags %}
{% load static %} 
{% block title %} Signup {% endblock %} 
{% block sign %}

<div class='container-fluid'>
      {% for error in error_messages %}
        <p style="color: red;">{{ error_messages }}</p>
      {% endfor %}
    <div class="d-flex justify-content-center align-items-center ml-auto mr-auto" style='height: 100vh;'>
      <div style='margin: 100px; width: 600px;'>
        <div style='padding-bottom: 45px;'>
          <h2>Bắt đầu ngay bây giờ</h2>
          <h5>Tạo tài khoản mới</h5>
        </div>
        <form method="post">
          {% csrf_token %}
          <div class="row w-full">
            <div class="form-group col-md-6 mb-0">
              {{ register_form.firstName|as_crispy_field }}
            </div>
            <div class="form-group col-md-6 mb-0">
              {{ register_form.lastName|as_crispy_field }}
            </div>
            {{ register_form.username|as_crispy_field }}
            {{ register_form.password|as_crispy_field }}
            {{ register_form.email|as_crispy_field }}
            {{ register_form.phone|as_crispy_field }}
            {{ register_form.address|as_crispy_field }}
          </div>

          <button type="submit" class="btn btn-primary w-100" style='margin-top: 40px;'>Đăng ký</button>
        </form>

        <div class='d-flex justify-content-center align-items-center mt-4 mb-4'>
          <div class='w-100'>
            <hr class="hr">
          </div>
          <div style='font-size: 10px;'>&nbsp;Hoặc&nbsp;</div>
          <div class='w-100'>
            <hr class="hr">
          </div>
        </div>

        <p class='text-center'>Bạn chưa có tài khoản?  
          <a href="/signin" class="link-primary">Đăng nhập</a>
        </p>

        <div class='text-center' style='font-size: 13px'>
          <a type="button" href="/">
            Quay trở lại trang chủ
          </a> 
        </div>

      </div>
      <div style='max-width:900px;'>
          <img src='{% static "/img/sign.jpg" %}' class="img-fluid" alt="signin" />
      </div>
    </div>
</div>
{% endblock %}
