{% extends 'page.html' %} {% load crispy_forms_tags %}  {% load static %} 

{% block title %} Signin {% endblock%} 

{% block sign %}

<div class="container-fluid">
  <div
    class="d-flex justify-content-center align-items-center ml-auto mr-auto"
    style="height: 100vh"
  >
    <div style="margin: 100px; width: 600px">
      <div style="padding-bottom: 45px">
        <h2>Chào mừng trở lại!</h2>
        <h5>Nhập thông tin xác thực của bạn để truy cập vào tài khoản của bạn</h5>
      </div>
      <form method="post">
        {% csrf_token %}
        {{ login_form|crispy }}
        <button
          type="submit"
          class="btn btn-primary w-100"
          style="margin-top: 40px"
        >
          Đăng nhập
        </button>      </form>

      <div class="d-flex justify-content-center align-items-center mt-4 mb-4">
        <div class="w-100">
          <hr class="hr" />
        </div>
        <div style="font-size: 10px">&nbsp;Hoặc&nbsp;</div>
        <div class="w-100">
          <hr class="hr" />
        </div>
      </div>

      <p class="text-center">
       Bạn chưa có tài khoản?
        <a href="/signup" class="link-primary">Đăng ký</a>
      </p>

      <div class='text-center' style='font-size: 13px'>
        <a type="button" href="/">
          Quay trở lại trang chủ
        </a> 
      </div>

    </div>
    <div style="max-width: 900px">
      <img src='{% static "/img/sign.jpg" %}' class="img-fluid" alt="signin" />
    </div>
  </div>
</div>
{% endblock %}
