{% extends "dashboard_template.html" %}
{% load static %}
{% load bootstrap5 %} 
{% bootstrap_css %} 
{% bootstrap_javascript %}
{% block script %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script defer src="{% static 'js/dashboard/search/search.js' %}"></script>
{% endblock %}

{% block content %}

    <div class="container bg-white shadow-md p-5 form-layout">
      <h4>Thống kê người dùng</h4>

      <hr />

      <div style=" height: 500px; width: 100%; display: flex; justify-content: center; ">
        <canvas id="userChart1"></canvas>
        <script>
            const ctx = document.getElementById('userChart1').getContext('2d');
            new Chart(ctx, {
                type: 'doughnut',
                data: {{ chart_data|first|safe }},
                options: {
                    responsive: true,
                    plugins: {
                        legend: {
                            position: 'top',
                        },
                        title: {
                            display: true,
                            text: 'Thống kê trạng thái người dùng'
                        }
                    },
                }
            });
        </script>
    </div>

    <hr />

    <div style=" height: 500px; width: 100%; display: flex; justify-content: center; ">
        <canvas id="userChart2"></canvas>
        <script>
            const ctx2 = document.getElementById('userChart2').getContext('2d');
            new Chart(ctx2, {
                type: 'doughnut',
                data: {{ chart_data|last|safe }},
                options: {
                    responsive: true,
                    plugins: {
                        legend: {
                            position: 'top',
                        },
                        title: {
                            display: true,
                            text: 'Thống kê quyền người dùng'
                        }
                    },
                }
            });
        </script>
    </div>

{% endblock %}
