{% extends "page.html" %} {% load crispy_forms_tags %} {% load static %} {% block title %} Thông tin người
dùng {% endblock %} {% block content %}
<div class="container">
  <h1>Thông tin người dùng</h1>
  <form method="post" action="{% url 'userInfo' %}">
    {% csrf_token %}
    <div class="row w-full">
      <div class="form-group col-md-6 mb-0">
        {{ user_info_form.firstName|as_crispy_field }}
      </div>
      <div class="form-group col-md-6 mb-0">
        {{ user_info_form.lastName|as_crispy_field }}
      </div>
      {{ user_info_form.username|as_crispy_field }}
      {{ user_info_form.password|as_crispy_field }}
      {{ user_info_form.email|as_crispy_field }}
      {{ user_info_form.phone|as_crispy_field }}
      {{ user_info_form.address|as_crispy_field }}
    </div>

    <button type="submit" class="btn btn-primary">Cập nhật</button> 
    
    {% if messages %} {% for message in messages%}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      {{ message }}
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="Close"
      ></button>
    </div>
    {% endfor %} {% endif %}
  </form>
</div>

{% endblock %}