{% extends "dashboard_template.html" %}
{% load static %}

{% block link %}
    <link rel="stylesheet" href="{% static 'css/product-list.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block content %}
    <div class="container mt-4">
         <h1 style="color: red" class="mb-5">XÓA</h1>
    <p>Bạn có muốn xóa Brand {{ brand.brand_name }} không ?</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger btn-sm">Xóa</button>
    </form>
    </div>
{% endblock %}