{% extends "dashboard_template.html" %}
{% load static %}

{% block link %}
    <link rel="stylesheet" href="{% static 'css/product-list.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block content %}
    <div class="container mt-4">
        <h1>Chỉnh sửa Brand</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Lưu thay đổi</button>
    </form>
    </div>

{% endblock %}