{% include "base.html" %} 
{% load static %} 
{% load crispy_forms_tags %} 
{% load bootstrap_icons %}

{% block script_user %}
<script defer src="{% static 'js/admin/user/user.js' %}"></script>
{% endblock %}


{% block content %}

<div class="container mx-auto pt-5">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Username</th>
        <th scope="col">Email</th>
        <th scope="col">Phone</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      {% for user in users %}
      <tr data-user-id="{{ user.userId }}">
        <th scope="row">{{ forloop.counter }}</th>
        <td>{{user.username}}</td>
        <td>{{user.email}}</td>
        <td>{{user.phone}}</td>
        <td class="mr-auto">
          <div class="d-flex gap-4">
            <button
              type="button"
              class="btn btn-primary"
            >
              <i class="fa-solid fa-pencil"></i>
            </button>
            <button
                type="button"
                class="btn btn-danger btn-trash"
                {% comment %} data-bs-toggle="modal" 
                data-bs-target="#userModal" {% endcomment %}
                >
                <i class="fa-solid fa-trash"></i>
              </button>
          </div>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  
  <!-- Modal -->
  <div class="modal fade" id="userModal" tabindex="-1" aria-labelledby="userModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="userModalLabel">Bạn có thật sự muốn xóa user này không?</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>

          <button type="button" class="btn btn-danger btn-yes" data-bs-dismiss="modal">Yes</button>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}