{% include "page.html" %} 
{% load static %} 
{% load crispy_forms_tags %} 
{% load bootstrap_icons %}

{% block script_user %}
<script defer src="{% static 'js/dashboard/user/user.js' %}"></script>
{% endblock %}


{% block content %}

<div class="container mx-auto pt-5">
  <div class="w-100 d-flex justify-content-end">
    <a href='/dashboard/user/create' >
      <button
        type="button"
        class="btn btn-primary btn-create"
        data-bs-toggle="modal" 
        data-bs-target="#userEditModal"
      >
      <i class="fa-solid fa-plus"></i>
      &nbsp; Tạo người dùng
    </button>
    </a>
</div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Username</th>
        <th scope="col">Email</th>
        <th scope="col">Phone</th>
        <th scope="col">Active</th>
        <th scope="col">Staff</th>
        <th scope="col">Admin</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      {% for userRow in users %}
      <tr data-user-id="{{ userRow.userId }}">
        <th scope="row">{{ forloop.counter }}</th>
        <td>{{userRow.username}}</td>
        <td>{{userRow.email}}</td>
        <td>{{userRow.phone}}</td>
        <td>
          {% if userRow.is_active %}
            <span class="badge rounded-pill text-bg-success">Yes</span>
          {% else %}
            <span class="badge rounded-pill text-bg-secondary">No</span>
          {% endif %}
        </td>
        <td>
          {% if userRow.is_staff %}
            <span class="badge rounded-pill text-bg-success">Yes</span>
          {% else %}
            <span class="badge rounded-pill text-bg-secondary">No</span>
          {% endif %}
        </td>
        <td>
          {% if userRow.is_superuser %}
            <span class="badge rounded-pill text-bg-success">Yes</span>
          {% else %}
            <span class="badge rounded-pill text-bg-secondary">No</span>
          {% endif %}
        </td>
        <td class="mr-auto">
          <div class="d-flex gap-4">
            <a href='/dashboard/user/edit/{{userRow.userId}}' >
              <button
              type="button"
              class="btn btn-primary btn-edit"
              >
                <i class="fa-solid fa-pencil"></i>
              </button>
            </a>
            
            {% if userRow.username != user.username %}
              <button
                type="button"
                class="btn btn-danger btn-trash"
                data-bs-toggle="modal" 
                data-bs-target="#userModal"
                >
                <i class="fa-solid fa-trash"></i>
              </button>
            {% endif %}
          </div>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-end">
      {% if users.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page=1" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li class="page-item">
        <a class="page-link" href="?page={{users.previous_page_number}}">Previous</a>
      </li>
      {% endif %}

      <li class="page-item">
        <span class="page-link">
          Page {{users.number}} of {{users.paginator.num_pages}}
        </span>
      </li>

      {% if users.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{users.next_page_number}}">Next</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="?page={{users.paginator.num_pages}}" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
      {% endif %}
    </ul>
  </nav>


  <!-- Modal delete -->
  <div class="modal fade" id="userModal" tabindex="-1" aria-labelledby="userModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="userModalLabel">Bạn có thật sự muốn xóa user này không?</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>

          <button type="button" class="btn btn-danger btn-yes" data-bs-dismiss="modal">Yes</button>
        </div>
      </div>
    </div>
  </div> 
</div>

{% endblock content %}