{% extends "page.html" %}
{% load static %}

{% block title %}
Liên hệ
{% endblock %}

{% block link %}
<link rel="stylesheet" href="{% static '/css/component/card.css' %}" />
{% endblock %}

{% block content %}

<section class="contact-us">
    <div class="wrapper">
        <div class="main-content">
            <h1 class="fade-in">Liên hệ với chúng tôi</h1>
            <a href="tel:098576454" class="btn border-0 fade-in delayed">Gọi: 098-576-454</a>
        </div>
    </div>
</section>
{% endblock %}