.logo img {
  width: 150px;
}

.header {
  background: url("../img/Rectangle\ 1.png") center center no-repeat;
  background-size: cover;
  height: 300px;
} */

.xl-text {
  font-size: 3rem;
}

.breadcrumb-item + .breadcrumb-item::before {
  font-weight: bold !important;
  color: var(--bs-dark);
}

.cart-section .container {
  margin-top: 40px;
}

.cart-section .cart-header,
.cart-section hr {
  background-color: var(--django-dark);
}

.cart-section hr {
  height: 3px;
}

.product {
  margin: 48px 0;
}

.product-image {
  height: 79px;
  width: 73px;
}

.cart-total-product .card-body {
  background-color: var(--django-dark);
}

.card {
  background-color: #f5f5f5;
}

.btn {
  border-radius: 13px !important;
}

.product-quantity .btn:hover {
  transform: scale(1.3);
  transition: all 0.3s;
}

.btn.btn-delete-from-cart:hover .fa-trash {
  color: white;
  transform: scale(1.1);
  transition: all 0.3s;
}

.btn-primary:link,
.btn-primary:visited {
  border-radius: 13px !important;
  color: var(--django-light);
  background-color: var(--django-primary);
  border: 2px solid var(--django-primary);
  transition: all 0.4s;
}

.btn-primary:hover, 
.btn-primary:active {  
  color: var(--django-primary);
  background-color: var(--django-light);
}

.section-summary {
  margin-bottom: 50px;
  padding: 54px 40px;
  background-color: var(--django-dark);
}

/* .section-summary .row {
  --bs-gutter-x: 10rem !important;
} */

.section-summary .summary-header {
  font-size: 30px;
}

.form-control:focus {
    box-shadow: 0 0 5px #007bff;
}


.footer-link:link,
.footer-link:visited {
  color: var(--django-primary);
}

.footer-link:hover,
.footer-link:active {
  color: var(--django-primary);
}

.footer-link:link,
.footer-link:visited {
  color: #000;
}

.footer .footer-signup--button,
.footer .footer-signup--input {
  border-bottom: 2px solid black !important;
  border-radius: 0px !important;
}

.footer .footer .footer-signup--button:link,
.footer .footer-signup--button:visited {
  background-color: var(--django-dark);
}

.footer .footer-signup--button:hover,
.footer .footer-signup--button:active {
}

@media (min-width: 1200px) {
  .section-summary .summary-header {
    font-size: 24px;
  }

  .section-summary .summary-header ~ div {
    font-size: 14px;
  }
}

@media (min-width: 992px) {
  .xl-text {
    font-size: 2.8rem;
  }

  .breadcrumb-item a {
    font-size: 1.9;
  }
}

@media (min-width: 576px) {
  .section-summary .summary-header {
    /* line-height: 2; */
    font-size: 28px;
    /* margin-bottom: 5px; */
  }

  .section-summary .summary-header ~ div {
    font-size: 16px;
  }
}

.cart-section .cart-banner {
  background-image: url(/static/media/images/bg-checkout.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  overflow: hidden;
}