.custom-modal {
    position: absolute;
    z-index: 10040;
    overflow: auto;
    display: none;
    min-width: 400px;
    min-height: 300px;
    max-width: 600px;
}

#inputGroup-sizing-default:hover .fas.fa-search {
    color: #007bff;
    cursor: pointer;
    transform: scale(1.1);
}