{% extends 'page.html' %}
{% load static %}
{% load price_format %}

{% block link %}
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
  <link rel="stylesheet" href="{% static '/css/component/banner.css' %}" />
{% endblock %}

{% block content %}
  <!-- All products section -->
  <div class="album pb-5 bg-white">
    <div class="pb-5">
      {% include "product/herobanner.html" %}
    </div>
    <div class="container">
      <div class="h5 text-center"> SẢN PHẨM CHO NỮ</div>
      <hr>
      <br>
      {% if all_nu_products_obj %}
        <div class="row products mt-1">
          {% for product in all_nu_products_obj %}
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 mb-4 ml-4 bg-white">
              <div class="nd-sp rounded">
                <div class="nd-sp">
                  <a href="{{ product.get_absolute_url }}">
                    <div class="card">
                      <img class="card-img-top" src="{{ product.images.first.image.url }}" alt="product-image">
                      <div class="card-body">
                        <h5 class="card-title brand_name">{{ product.brand.brand_name }}</h5>
                        <p class="card-text product_name text-left mb-2">{{ product.product_name }}</p>
                        <div class="d-flex justify-content-between">
                          <p class="price mb-0 text-danger font-weight-bold" >{{ product.discount_price | price_format }}</p>
                          <p class="price mb-0"><del>{{ product.price | price_format }}</del></p>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
        {% if all_nu_products_obj.has_previous or all_nu_products_obj.has_next %}
          <div class="pagination justify-content-center">
            <span class="step-links">
              {% if all_nu_products_obj.has_previous %}
                <a href="?page={{ all_nu_products_obj.previous_page_number }}">&laquo;</a>
              {% endif %}
              <span class="current">
                Page {{ all_nu_products_obj.number }} of {{ all_nu_products_obj.paginator.num_pages }}
              </span>
              {% if all_nu_products_obj.has_next %}
                <a href="?page={{ all_nu_products_obj.next_page_number }}">&raquo;</a>
              {% endif %}
            </span>
          </div>
          <br>
        {% endif %}
      {% endif %}
      <!--      BRANDS-->
      <div class="row mt-4">
        <img src="{% static 'media/images/store/brands.png' %}" alt="Brands">
      </div>
    </div>
  </div>
{% endblock %}
