{% load static %}

<div id="hero-banner" class="carousel slide custom-carousel" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="{% static 'media/images/hero/upscaled_banner.png' %}" class="d-block w-100" alt="hero1">
        </div>
        <div class="carousel-item">
            <img src="{% static 'media/images/hero/banner2.jpg' %}" class="d-block w-100" alt="hero2">
        </div>
        <div class="carousel-item">
            <img src="{% static 'media/images/hero/banner3.jpg' %}" class="d-block w-100" alt="hero3">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#hero-banner" data-bs-slide="prev" style="left: -5%">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#hero-banner" data-bs-slide="next" style="right: -5%">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
