{% load static %}
{% load crispy_forms_tags %}
{% load bootstrap_icons %}

<!--HEADER-->
<div class="container-fluid p-0 sticky-top bg-white">
    <nav class="navbar navbar-expand-lg px-5 p-0 nav_color" style="background-color: #12283E; padding: 0">
        <a class="navbar-brand" href="/">
            <img class="logo_image" src="{% static 'img/logo.svg' %}" alt="logo" width="150px">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMobile"
                aria-controls="navbarMobile" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarMobile">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 justify-content-center">
                <li class="nav-item mx-2">
                    <a
                            class="nav-link link-light text-white text-uppercase"
                            href="/"
                    >MỚI</a
                    >
                </li>
                <li class="nav-item mx-2">
                    <a
                            class="nav-link link-light text-white text-uppercase"
                            href="/cart"
                    >NAM</a
                    >
                </li>
                <li class="nav-item mx-2">
                    <a
                            class="nav-link link-light text-white text-uppercase"
                            href="/"
                    >NỮ</a
                    >
                </li>
                <li class="nav-item mx-2">
                    <a
                            class="nav-link link-light text-white text-uppercase"
                            href="/"
                    >SALE</a
                    >
                </li>
            </ul>
            <div class="d-flex align-items-center">
                {#                <form class="mx-3">#}
                {#                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">#}
                {#                </form>#}

                {% if user.is_authenticated %}
                    {#                    <span class="mx-1"><span class="mx-1">#}
                    {#                    <a href='{% url "signout" %}'#}
                    {#                       class="text-decoration-none">{% bs_icon 'person-dash' size='1.2em' %}</a>#}

                    <button class="btn btn-outline-light btn-user mx-1" type="button">
                        <svg class="bi bi-person-circle" fill="currentColor" height="16" viewBox="0 0 16 16"
                             width="16" xmlns="http://www.w3.org/2000/svg">
                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                            <path d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"
                                  fill-rule="evenodd"/>
                        </svg>
                        <p class="user-name"> {{ user.username }} </p>
                    </button>
                    {#                </span>#}
                    <span class="mx-1">
                    {#                    <a class="text-decoration-none" href="#">{{ user.username }}</a>#}
                    {#                </span>#}
                {% else %}

                    <span class="px-2 mx-1">
                    <a href={% url "signin" %} class="text-decoration-none">{% bs_icon 'person-add' size='1.4em' color='black' %}</a>
                    </span>

                {% endif %}

                {#                <button class="btn border-0 px-2 mx-1">{% bs_icon 'suit-heart' size='1.2em' color='black' %}</button>#}

                <div class="nav-item d-flex align-items-center cart-button">

                    <a class="btn btn-cart" type="button" role="button" href="{% url 'cart-summary' %}">
                        <i class="fa-solid fa-cart-shopping icon-cart" style="color: white"></i>
                        &nbsp;
                        <div id="cart-qty" class="d-inline-flex">
                            <div id="cart-qty" class="d-inline-flex">
                                {% if cart|length > 0 %}
                                    <p class="number_cart">{{ cart|length }}</p>
                                {% else %}
                                    <!-- Nếu giỏ hàng trống, không cần hiển thị gì cả -->
                                {% endif %}
                            </div>
                        </div>
                    </a>
            </div>
        </div>
    </nav>
</div>
