{% load static %}
{% load crispy_forms_tags %}
{% load fontawesome_5 %}
{% fontawesome_5_static %}
<link rel="stylesheet" href="{% static 'css/search-modal.css' %}">

<!--HEADER-->
<div class="container-fluid p-0 sticky-top bg-white shadow-sm">
    <nav class="navbar navbar-expand-lg navbar-light mx-5" style="padding: 2px 0">
        <a class="navbar-brand" href="/">
            <img src="{% static 'media/images/logo.png' %}" alt="logo" width="150px">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMobile"
                aria-controls="navbarMobile" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarMobile">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 justify-content-center">
                <li class="nav-item mx-2">
                    <div class="dropdown">
                        <a class="nav-link link-light text-black text-uppercase" href="#" data-bs-toggle="dropdown" aria-expanded="false">
                            Sản phẩm
                        </a>
                        <ul class="dropdown-menu w-100 mt-1">
                            <li><a class="dropdown-item" href="{% url 'new-arrival' %}">Mới</a></li>
                            <li><a class="dropdown-item" href="{% url 'male_products' %}">Nam</a></li>
                            <li><a class="dropdown-item" href="{% url 'female_products' %}">Nữ</a></li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item mx-2">
                    <a class="nav-link link-light text-black text-uppercase" href="/">Sale</a>
                </li>
                <li class="nav-item mx-2">
                    <a class="nav-link link-light text-black text-uppercase" href="{% url 'aboutus' %}">Chúng tôi</a>
                </li>
                <li class="nav-item mx-2">
                    <a class="nav-link link-light text-black text-uppercase" href="{% url 'contactus' %}">Liên hệ</a>
                </li>
            </ul>

            <div class="d-flex align-items-center">
                <form class='w-50 d-flex' action="/main/search/" onsubmit="return handleSearchProduct()">
                    <div class="input-group">
                        <input placeholder="Bạn đang tìm gì..." type="text" class="form-control" id="search-product" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                        <span class="input-group-text" id="inputGroup-sizing-default">
                            <i class="fas fa-search" id="search-icon"></i>
                        </span>
                    </div>
                </form>

                <!-- MODAL SEARCH RESULT -->
                <div class="modal custom-modal" id="searchModal" tabindex="-1" aria-labelledby="searchModalLabel" aria-hidden="true">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5>Kết quả tìm kếm</h5>
                        </div>
                        <div class="modal-body" id="searchResults">
                            <!-- Search results will be displayed here -->
                        </div>
                    </div>
                </div>
                {% if user.is_authenticated %}
                    <div class="dropdown">
                         <button class="btn dropdown-toggle border-0" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <span style='margin-right:10px'>{% fa5_icon 'user-minus' 'fas' %}</span> Xin chào, {{user.username}}
                        </button>
                        <ul class="dropdown-menu w-100 mt-1">
                            <li><a class="dropdown-item" href={% url "user-info" %}>Tài khoản của tôi</a></li>
                            {% if user.is_superuser %}
                                <li><a class="dropdown-item" href={% url "dashboard" %}>Admin</a></li>
                            {% endif %}
                            <li><a class="dropdown-item" href={% url "signout" %}>Đăng xuất</a></li>
                         </ul>
                    </div>

                {% else %}
                    <div class="dropdown">
                        <button class="btn dropdown-toggle border-0" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <span style='margin-right:10px'>{% fa5_icon 'user-plus' color='black' %}</span>
                        </button>
                        <ul class="dropdown-menu w-100 mt-1">
                            <li><a class="dropdown-item" href={% url "signin" %}>Đăng nhập</a></li>
                        </ul>
                    </div>

                {% endif %}
                <div class="nav-item d-flex align-items-center cart-button">
                    <a class="btn btn-cart border-0" type="button" role="button" href="{% url 'cart' %}">
                        {% fa5_icon 'cart-plus' color='black' %}
                        <div id="cart-qty" class="d-inline-flex">
                            <div id="cart-qty" class="d-inline-flex">
                                {% if cart|length > 0 %}
                                    <p class="number_cart">{{ cart|length }}</p>
                                {% else %}
                                    <!-- Nếu giỏ hàng trống, không cần hiển thị gì cả -->
                                {% endif %}
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </nav>
</div>