{% load static %}
{% load crispy_forms_tags %}
{% load bootstrap_icons %}

<!--HEADER-->
<div class="container-fluid p-0 sticky-top bg-white">
    <nav class="navbar navbar-expand-lg px-5 p-0 nav_color" style="background-color: #12283E; padding: 0">
        <a class="navbar-brand" href="/dashboard">
            <img class="logo_image" src="{% static 'img/logo.svg' %}" alt="logo" width="150px">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMobile"
                aria-controls="navbarMobile" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarMobile">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 justify-content-center">
                <li class="nav-item mx-2">
                    <a
                            class="nav-link link-light text-white text-uppercase"
                            href='/dashboard/user'
                    >Người dùng</a
                    >
                </li>
            </ul>
            <div class="d-flex align-items-center">
                <div>
                    {% if user.is_authenticated %}
                        <div class="dropdown">
                            <button class="btn dropdown-toggle border-0 text-white" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            {% bs_icon 'person-dash' size='1.2em' %} Xin chào, {{user.username}}
                        </button>
                        <ul class="dropdown-menu w-100 mt-1">
                            <li><a class="dropdown-item" href={% url "main" %}>Quay lại trang chủ</a></li>
                            <li><a class="dropdown-item" href={% url "signout" %}>Đăng xuất</a></li>
                            </ul>
                      </div>
                    {% else %}
                        <button class="btn btn-outline-light btn-user mx-1" type="button">
                            <a href="{% url 'signin' %}">
                                <svg class="bi bi-person-circle" fill="currentColor" height="16" viewBox="0 0 16 16"
                                     width="16" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                                    <path d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"
                                          fill-rule="evenodd"/>
                                </svg>
                                <p class="user-name"> Đăng nhập</p>
                            </a>
                        </button>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>
</div>
