{%extends 'page.html'%} {% load crispy_forms_tags %} {% load static %} 
{%block sign %}
<div class="container-fluid">
  <div
    class="d-flex justify-content-center align-items-center ml-auto mr-auto"
    style="height: 100vh"
  >
    <div style="margin: 100px; width: 600px">
      <div style="padding-bottom: 45px">
        <h2>Đặt lại mật khẩu thành công!</h2>
      </div>
      <div class="card">
        <p>
          Mật khẩu của bạn đã được thay đổi thành công. Vui lòng truy cập vào
          trang <a href="{% url 'signin' %}">đăng nhập</a>.
        </p>
      </div>
    </div>
    <div style="max-width: 900px">
      <img src='{% static "/img/sign.jpg" %}' class="img-fluid" alt="signin" />
    </div>
  </div>
</div>
{%endblock%}
