{%extends 'page.html'%} {% load crispy_forms_tags %} {% load static %} 
{%block sign %}
<div class="container-fluid">
  <div
    class="d-flex justify-content-center align-items-center ml-auto mr-auto"
    style="height: 100vh"
  >
    <div style="margin: 100px; width: 600px">
      <div style="padding-bottom: 20px">
        <h2>Đặt lại mật khẩu</h2>
      </div>
      <div>
        Vui lòng kiểm tra <b> hộp thư đến </b> <br> và làm theo hướng dẫn để đặt lại
        mật khẩu của bạn.
      </div>
    </div>
    <div style="max-width: 900px">
      <img src='{% static "/img/sign.jpg" %}' class="img-fluid" alt="signin" />
    </div>
  </div>
</div>
{%endblock%}
